<!DOCTYPE html>
<html >
  <head>
    <title>GitHub Auth Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href='/' class='brand'>GitHub Auth Demo</a>
          <ul class="nav pull-right">
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h2>Please Sign In</h2>
          <a class='link link-success' href="/auth/github">Sign in with GitHub</a>
        </div>
      </div>
    </div>
  </body>
</html>

